<!DOCTYPE html>
<html>
<body>
  <p><img src= "../extras/logo.png" style="width:150px;height:80px;"><strong>a blog within a blog.</strong> </p>
  <p><strong><a href="#">home</a> <a href="#">creators</a> <a href="#">about us</a> <a href="#">account</a></strong></p>


<h2><font face="courier"><center>Submit your Writing!</center></h2>

<form action="/new?data=userInput" method="post">
  <font face="courier">First name:<br> <img src="../extras/template.png" alt="title" style="float:right;">
  <input type="text" name="userInput" value="">
  <br><br>

  <font face="courier">Last name:<br>
  <input type="text" name="lastname" value="">
  <br><br>

  <font face="courier">Article Title:<br>
  <input type="text" name="articlename" value="">
  <br><br>
  <font face="courier">Textbox One:<br>
  <input type="text" name="articlename" value="">
  <br><br>
  <font face="courier">Textbox Two:<br>
  <input type="text" name="articlename" value="">
  <br><br>

  <input type="submit" value="Submit">
</form>


<p>If you click the "Submit" button, the form-data will create your article!</p>

</body>
</html>
